body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color:#002649
a
  color: #00B7FF
#wrapper
  width: 800px
  background-color: #FFF
  margin:0 auto 0
  height:100%
#header
  background-color:#E01
  color: #FFF
  width: 100%
  min-height: 70px
  #title-wrap
    float: left
    margin: 10px
  .title
    font-size: 200%
    padding: 0px
    text-decoration: none
    color: #FFF
  .subtitle
    margin-left: 20px
#user-info
  margin: 10px
  float: right
  text-align: right
  a
    color: #CCC
#bd
  float: right
  width:600px
  padding: 15px
.clear
 clear: both
.center
  margin: 0 auto 0
table
  border-collapse: collapse
th,td
  padding:5px
tr:nth-child(2n)
  background-color: #EEE
table,th,td
  border: 1px solid #002649
#sidebar
  float: left
  background-color: #DDD
  width:150px
  height: 100%
  ul
    padding-left 20px
  a
    color:#E01
  ul ul
    padding-left: 0
    list-style-type: none
#error-box
  background-color:#FCC
  padding:20px
tr.correct, td.correct
  background:#DFD
tr.incorrect, td.incorrect
  background:#E77
#grades-table
  font-size:12px
td.pass
  color:green
td.fail
  color:red
