if typeof(module) == 'undefined'
  h1.form-title Create a Learning Module
else
  h1.form-title Edit Learning Module
form(method="post", action='/addModule', enctype="multipart/form-data").horizontal-form
  .control-group
    .control-label Module Name
    .controls
      input(type="text", name="mname")
  .control-group
    .control-label Class
    .controls
      select(id="cid", name="cid")
        for class in classes
          -if (class.cid == select)
            option(value="#{class.cid}", selected="selected")= class.name
          -else
            option(value="#{class.cid}")= class.name
  .control-group
    .control-label Module PDF
    .controls
      input(type="file", name="pdf-file", accept="application/pdf")
      p.help-block (.pdf must be less than 10Mb)
  input.btn.btn-primary(type="submit", value="Add")
