h1 Create a Quiz
form(method="post", action="/quiz")
 table
  tr
   td Quiz Name:
    input(type="text", name="qname")
  tr
   td Class:
    select(id="cl", name="cl")
      for class in classes
        option(value="E{class.cid})= class.name
  tr
   td
    input(type="submit", value="Add")
