h1 Create a Quiz
form(method="post", action="/quiz")
 table
  tr
   td Quiz Name:
    input(type="text", name="qname")
  tr
   td Class:
    select(id="cl", name="cl")
      for class in classes
        -if (class.cid == select)
          option(value="#{class.cid}", selected="selected")= class.name
        -else
          option(value="#{class.cid}")= class.name
  tr
   td
    input(type="submit", value="Add")
