-if(classes.length == 0)
  h1 No Classes Found
-else
  h1 Classes
  table.center
    tr
      th
        |Class
      th
        |Professor
      th
    for class in classes
      tr
        td
          a(href="/quizzes?cid=#{class.cid}")=class.name
        td
          =class.username
        td
          a(href="/class?cid=#{class.cid}") Edit
          span |
          a(href="/remClass?cid=#{class.cid}",onClick="return confirm('Are you sure you want to delete?');") Delete
a(href="/class") Add a Class
