h1.form-title Add a User
form(method="post", action="/addUser").form-horizontal
  .control-group
    .control-label Username
    .controls 
      input(type="text", name="user")
  .control-group
    .control-label User Type
    .controls
      label.radio
        input(type="radio", name="auth", value="2")
        | Admin
      label.radio
        input(type="radio", name="auth", value="1")
        | Professor
      label.radio
        input(type="radio", name="auth", value="0", checked)
        | Student
  input.btn-primary(type="submit", value="Add")
