h1 Welcome to Radford Intelligent Tutoring System
h2 What is RU Tutor?
p RU Tutor is an Intelligent Tutoring System designed for mobile access by students.  You as a professor can create quizzes and learning modules that your students will be able to access through the RU Tutor Android application.
h2 Getting Started
p To begin, click the 'Add Class' link on the navigation bar above.  Fill out the information for your class and submit it.  From the class view, you can create new quizzes, create new modules, and add students to your classes.

