!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js')
  body
    #wrapper
      #header
        #title-wrap
          a.title(href="/") RU Intelligent Tutoring System
          .subtitle= title
        #user-info
          .user Logged in as #{current_user}
          a(href="/logout") Logout
        .clear
      #sidebar
        ul
          li
            |Classes
            ul
              li
                a(href="/classes") View Classes
              li
                a(href="/class") Add Class
              li
                a(href="/quiz") Add Quiz
          li
            |Users
            ul
              li
                a(href="/quizzes") View Users
              li
                a(href="/admin") Add Users
      #bd!= body
      .clear
    script
      $(document).ready(function(){
      $('#sidebar').css('height',$('#wrapper').css('height'));
      });
