!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.tablesorter.min.js')
    script(src='js/jquery.tablesorter.pager.js')
    script(src='js/jquery.metadata.js')
    script(src='js/local.js')
  body
    #navbar.navbar.navbar.container
      .navbar-inner
        .container
          a.brand(href='/') RU Tutor
          ul.nav.pull-left
            li.divider-vertical
            li
              a(href='/classes') Classes
            li
              a(href='/addClass') Add Class
            li
              a(href='/addQuiz') Add Quiz
            li
              a(href='/addModule') Add Module
            li.divider-vertical
            li
              a(href='/users') Users
          ul.nav.pull-right
            li 
              a(href='#') Logged in as #{userName}
            li.divider-vertical
            li
              a(href='/logout') Logout
    #bd.container
      if errors.length > 0
        #error-box.alert.alert-block.alert-error
          a.close(data-dismiss="alert") x
          h4.alert-heading Error
          ul
            -errors.forEach(function(error){
              li= error
            -})
      != body
