if action == 'login'
  form(action="https://php.radford.edu/~it-auth/vsp09/login.php", method="post")
    input(type="hidden",name="url",value=base_url + '/login-mobile')
    input(type="hidden",name="cname",value="its-login-username")
  script
    document.forms[0].submit();
else
  html
    head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
    body
      h2 
        |Authenticated as 
        span#user= username
