include question
  .control-group
    .control-label Choices
      br
      button.btn#add(type="button") Add Choice
    #choices.controls
      if add
        .input-prepend.input-append
          span.add-on
            input(type="checkbox", name="correct")
          input.span8(type='text', name="ans")
          button.btn.btn-danger(type="button", class="del")
            i.icon-remove-sign
        
        .input-prepend.input-append
          span.add-on
            input(type="checkbox", name="correct")
          input.span8(type='text', name="ans")
          button.btn.btn-danger(type="button", class="del")
            i.icon-remove-sign
        .input-prepend.input-append
          span.add-on
            input(type="checkbox", name="correct")
          input.span8(type='text', name="ans")
          button.btn.btn-danger(type="button", class="del")
            i.icon-remove-sign
        .input-prepend.input-append
          span.add-on
            input(type="checkbox", name="correct")
          input.span8(type='text', name="ans")
          button.btn.btn-danger(type="button", class="del")
            i.icon-remove-sign




        
      else
        each choice in JSON.parse(answers)
          .input-append.input-prepend
            span.add-on
              - var check = 'false'
              each ans in JSON.parse(quest.correct_answer)
                if ans == choice
                  -check = 'true'
              if check == 'true'
                input(type="checkbox", name="correct", value="#{choice}", checked="checked")
              else 
                input(type="checkbox", name="correct", value="#{choice}")
            input.span8(type='text',name="ans", value="#{choice}")
            button.btn.btn-danger(type="button", class="del")
              i.icon-remove-sign
