form(method="post", action="/student")
 table
  tr
   td Class:
    select(name='cid')
     for c in classes
      option(value="#{c.cid}") #{c.name}
  tr
   td Student:
    select(id="list", name='user')
      for student in students
        option(value=student.uid)=student.username
  tr
   td
    input(type="submit", value="Add")
