include question
  .control-group
    .control-label True/False
    .controls
      if add
        label.radio
          input(type="radio", name="correct", value="true") 
          |True
        label.radio
          input(type="radio", name="correct", value="false")
          |False
      else
        label.radio
          if JSON.parse(quest.correct_answer)[0] == 'true'
            input(type="radio", name="correct", value="true", checked="checked")
           else
            input(type="radio", name="correct", value="true")
          |True
        label.radio
          if JSON.parse(quest.correct_answer)[0] == 'false'
            input(type="radio", name="correct", value="false", checked="checked")
          else
            input(type="radio", name="correct", value="false")
          |False

