h3 #{name}
form(id="qform", action="question", method="POST")
  textarea(name="question")
  ul
    li
      |True
      input(type="radio", name="correct", value="true") 
    li
      |False
      input(type="radio", name="correct", value="false") 
  input(type="submit", value="Save")
  input(type="hidden", name="ans", value="")
  input(type="hidden", name="type", value="tf")
  input(type="hidden", name="qid", value="#{qid}")
  input(type="hidden", name="questid", value="#{questid}")
